@import url("https://fonts.cdnfonts.com/css/neue-haas-grotesk-display-pro");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

:root {
  --Font1: "neue haas grotesk display pro", "sans-serif";
  --Font2: "Quicksand", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background: #011522;
  height: 300vh;
  align-items: center;
  justify-content: center;
}
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #000000;
}
body::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}
body::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
}
body ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #000000;
}
body ::-webkit-scrollbar {
  width: 7px;
  background-color: #f5f5f5;
}
body ::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
}

.navbar {
  display: flex;
  flex-direction: row;
  position: fixed;
  color: #ffffff;
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  background: linear-gradient(180deg, rgb(0, 0, 0) 60%, transparent);
  z-index: 2;
  padding: 0.5rem 1rem;
}
.navbar .contnav {
  display: flex;
  flex-direction: row;
  font-size: 1.2rem;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  gap: 2.5dvw;
}
.navbar .contnav .navlog {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1dvw;
}
.navbar .contnav img {
  width: 2.7rem;
  -o-object-fit: fill;
     object-fit: fill;
  transition: transform 0.2s linear;
}
.navbar .contnav img:hover {
  transform: scale(1.05) rotate(2deg);
}
.navbar .contnav #navtit {
  font-family: var(--Font1);
  font-size: clamp(1.3rem, 1.7vw, 1.7rem);
  font-weight: 700;
  transition: transform 0.2s linear;
}
.navbar .contnav #navtit:hover {
  transform: perspective(1000px) rotateX(10deg) rotateY(10deg) scale(1.1);
}
.navbar .contnav .lblnav {
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: transform 0.2s ease-in-out;
}
.navbar .contnav .lblnav:hover {
  transform: translateY(-5px) scale(1.1);
}

section {
  height: 60vh;
  overflow: hidden;
}
section #carlogo {
  background: url(Resources/LogoMinimalistaFON.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 6.5dvw;
  width: 6.5dvw;
  margin-bottom: 2dvh;
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
  transition: transform 0.2s linear;
}
section #carlogo:hover {
  transform: scale(1.05) rotate(2deg);
}
section#carouselsec {
  height: 50dvw;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}
section#carouselsec #carouselPres {
  display: flex;
  flex-direction: column;
  color: white;
  position: absolute;
  text-align: center;
  top: 24dvw;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  align-items: center;
  justify-content: center;
}
section#carouselsec #carouselPres label {
  font-size: 1.3dvw;
  font-weight: 450;
  letter-spacing: 1px;
}
section#carouselsec #carouselPres #carouseltitulo {
  font-family: var(--Font1);
  letter-spacing: 0.05em;
  font-size: 4.5dvw;
  font-weight: 1000;
  transition: transform 0.3s ease-in-out;
  color: #e0dfdc;
  margin-bottom: 1dvh;
  text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0, 0, 0, 0.9);
}
section#carouselsec #carouselPres #carouseltitulo:hover {
  transform: scale(1.05);
}
section#carouselsec #carouselPres #carsomos {
  text-transform: uppercase;
  color: #05d470;
  letter-spacing: 1px;
  font-size: 1.8dvw;
  font-weight: 700;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease-in-out;
  font-family: var(--Font1);
}
section#carouselsec #carouselPres #carsomos:hover {
  transform: scale(1.1);
}
section#carouselsec #carouselImg {
  position: relative;
  display: flex;
  flex-direction: row;
  transform: translateX(0);
  transition: transform 0.8s ease-in-out;
}
section#carouselsec #carouselImg .contvideo {
  position: relative;
  width: 100vw;
  -o-object-fit: cover;
     object-fit: cover;
}
section#sec1 {
  display: flex;
  height: -moz-max-content;
  height: max-content;
  background: linear-gradient(90deg, #000643, #010522);
  padding: 8dvh 15dvw;
  color: white;
  justify-content: center;
  align-items: center;
}
section#sec1 .box {
  display: flex;
  flex-direction: row;
  gap: 4rem;
}
section#sec1 .box .teaml {
  display: flex;
  flex-direction: column;
  text-align: start;
}
section#sec1 .box .teaml h2 {
  font-family: var(--Font1);
  font-size: 1.8dvw;
  color: rgb(176, 176, 176);
  margin: 0;
  font-weight: 600;
  transition: transform 0.2s linear;
}
section#sec1 .box .teaml h2:hover {
  transform: translateY(-0.3rem);
}
section#sec1 .box .teaml h1 {
  font-family: var(--Font1);
  font-size: 2.5dvw;
  color: white;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  transition: transform 0.2s linear;
}
section#sec1 .box .teaml h1:hover {
  transform: translateY(-0.3rem);
}
section#sec1 .box .teaml label {
  font-size: 1dvw;
  letter-spacing: 1.5px;
  line-height: 1.5;
  margin-bottom: 2rem;
  transition: color 0.2s linear;
}
section#sec1 .box .teaml label:hover {
  color: rgb(179, 226, 245);
}
section#sec1 .box .teaml button {
  width: -moz-fit-content;
  width: fit-content;
  height: 3rem;
  padding: 0.6em 1em;
  border: 4px solid #247f06;
  transition: ease-in-out 0.3s;
  background-color: transparent;
  color: rgb(0, 219, 48);
  font-weight: bolder;
  font-size: 16px;
}
section#sec1 .box .teaml button:hover {
  border: rgb(0, 219, 48);
  transform: scale(1.1) rotate(5deg);
  background-color: rgb(0, 219, 48);
  color: white;
}
section#sec1 .box .teamr {
  display: flex;
}
section#sec1 .box .teamr img {
  border-radius: 3rem;
  width: clamp(10rem, 35vw, 35rem);
  height: clamp(10rem, 45vh, 45rem);
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.3s ease-in-out;
  align-self: center;
}
section#sec1 .box .teamr img:hover {
  transform: scale(1.05) rotate(2deg);
}
section#sec2 {
  display: flex;
  flex-direction: row;
  background: url(Resources/FBSec2.png);
  background-attachment: fixed;
  background-size: cover;
  height: -moz-fit-content;
  height: fit-content;
}
section#sec2 img {
  width: clamp(30%, 45vw, 50%);
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
section#sec2 .box {
  display: flex;
  flex-direction: column;
  text-align: start;
  padding: clamp(2rem, 5vw, 5rem);
  gap: 1rem;
}
section#sec2 .box h1 {
  font-family: var(--Font1);
  text-transform: uppercase;
  font-size: clamp(1rem, 2.5vw, 2.5rem);
  color: rgb(0, 0, 0);
  margin: 0;
  font-weight: 700;
  margin-bottom: 1rem;
  transition: transform 0.2s linear;
}
section#sec2 .box h1:hover {
  transform: translateY(-5px);
}
section#sec2 .goal {
  display: flex;
  flex-direction: row;
  width: 90%;
  height: -moz-fit-content;
  height: fit-content;
  background: #010522;
  border-radius: 1rem;
  color: #f5f5f5;
  font-size: 1.2dvw;
  letter-spacing: 1px;
  font-weight: 600;
  justify-content: start;
  align-items: center;
  text-align: start;
  padding: 1.2rem 1rem;
  gap: 1rem;
  transition: box-shadow 0.2s linear, transform 0.2s linear;
}
section#sec2 .goal:hover {
  box-shadow: 0 0 1.5rem rgb(0, 0, 0);
  transform: scale(1.05);
}
section#sec2 .goal .goalh1 {
  font-family: var(--Font1);
  letter-spacing: 1px;
  font-size: clamp(1.8rem, 2.5vw, 2.5rem);
  font-weight: 700;
  color: rgb(47, 255, 141);
  margin-left: 2rem;
  margin-right: 1rem;
}
section#sec3 {
  background: linear-gradient(270deg, #000643, #010522);
  height: -moz-max-content;
  height: max-content;
  padding: 6dvw 4dvw;
}
section#sec3 .box {
  display: grid;
  grid-template-areas: "h2 h2 h2 h2" "h1 h1 h1 h1" "box1 box2 box3 box4" "btn btn btn btn";
  place-items: center;
  text-align: center;
}
section#sec3 .box .sec3h1 {
  grid-area: h2;
  font-family: var(--Font1);
  text-transform: uppercase;
  font-size: clamp(1rem, 1.5vw, 1.5rem);
  color: #5de195;
  margin: 0;
  font-weight: 700;
  margin-bottom: 0.5rem;
  transition: transform 0.2s linear;
}
section#sec3 .box .sec3h1:hover {
  transform: scale(1.05);
}
section#sec3 .box .sec3h2 {
  grid-area: h1;
  font-family: var(--Font1);
  text-transform: uppercase;
  font-size: clamp(1.5rem, 2.5vw, 2.5rem);
  color: rgb(255, 255, 255);
  margin: 0;
  font-weight: 700;
  margin-bottom: clamp(2rem, 4vw, 4rem);
  transition: transform 0.2s linear;
}
section#sec3 .box .sec3h2:hover {
  transform: scale(1.05);
}
section#sec3 .box button {
  grid-area: btn;
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  height: 3rem;
  padding: 1dvw;
  border: 4px solid #067f65;
  transition: ease-in-out 0.3s;
  background-color: transparent;
  color: rgb(0, 219, 190);
  font-weight: bolder;
  font-size: 1dvw;
  place-items: center;
}
section#sec3 .box button:hover {
  border: rgb(0, 219, 208);
  transform: scale(1.1) rotate(5deg);
  background-color: rgb(0, 219, 190);
  color: white;
}
section#sec3 .box a {
  margin: 2rem 0;
}
section#sec3 .box a .card {
  width: clamp(5rem, 21.66vw, 21.66rem);
  height: clamp(10rem, 30vw, 30rem);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  perspective: 2500px;
}
section#sec3 .box a .cover-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
section#sec3 .box a .wrapper {
  transition: all 0.5s;
  position: absolute;
  width: 100%;
  z-index: -1;
}
section#sec3 .box a .card:hover .wrapper {
  transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
  box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
}
section#sec3 .box a .wrapper::before,
section#sec3 .box a .wrapper::after {
  content: "";
  opacity: 0;
  width: 100%;
  height: 80px;
  transition: all 0.5s;
  position: absolute;
  left: 0;
}
section#sec3 .box a .wrapper::before {
  top: 0;
  height: 100%;
  background-image: linear-gradient(to top, transparent 46%, rgba(12, 13, 19, 0.5) 68%, rgb(12, 13, 19) 97%);
}
section#sec3 .box a .wrapper::after {
  bottom: 0;
  opacity: 1;
  background-image: linear-gradient(to bottom, transparent 46%, rgba(12, 13, 19, 0.5) 68%, rgb(12, 13, 19) 97%);
}
section#sec3 .box a .card:hover .wrapper::before,
section#sec3 .box a .wrapper::after {
  opacity: 1;
}
section#sec3 .box a .card:hover .wrapper::after {
  height: 120px;
}
section#sec3 .box a .title {
  width: 100%;
  transition: transform 0.5s;
}
section#sec3 .box a .card:hover .title {
  transform: translate3d(0%, -50px, 100px);
}
section#sec3 .box a .character {
  width: 100%;
  opacity: 0;
  transition: all 0.5s;
  position: absolute;
  z-index: -1;
}
section#sec3 .box a .card:hover .character {
  opacity: 1;
  transform: translate3d(0%, -30%, 100px);
}
section#sec4 {
  background: url(Resources/FBSec2.png);
  background-attachment: fixed;
  background-size: cover;
  justify-content: center;
  padding: 6dvw;
  height: -moz-max-content;
  height: max-content;
}
section#sec4 .box {
  display: grid;
  grid-template-areas: "h3 h3" "h1 h1" "box1 box2" "box3 box4";
  place-items: center;
}
section#sec4 .box h3 {
  grid-area: h3;
  text-transform: uppercase;
  font-size: 1.3dvw;
  color: rgb(0, 0, 0);
  margin: 0;
  font-weight: 600;
  transition: transform 0.2s linear;
}
section#sec4 .box h3:hover {
  transform: scale(1.05);
}
section#sec4 .box h1 {
  grid-area: h1;
  font-family: var(--Font1);
  text-transform: uppercase;
  font-size: 2.5dvw;
  color: rgb(0, 0, 0);
  font-weight: 700;
  margin-bottom: 2rem;
  transition: transform 0.2s linear;
}
section#sec4 .box h1:hover {
  transform: scale(1.05);
}
section#sec4 .box .clip {
  margin: 0.5rem;
  background: black;
  border: wheat;
  height: 23dvw;
  width: 40dvw;
  transition: box-shadow 0.2s linear, transform 0.2s linear;
}
section#sec4 .box .clip:hover {
  box-shadow: 0 0 1.5rem rgb(0, 0, 0);
  transform: scale(1.05);
}
section#sec5 {
  display: grid;
  grid-template-columns: 0.25fr 0.5fr 0.25fr;
  grid-auto-rows: auto;
  height: -moz-max-content;
  height: max-content;
  background: linear-gradient(180deg, #000643, #010522);
  color: white;
}
section#sec5 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background-attachment: fixed;
}
section#sec5 form {
  display: flex;
  flex-direction: column;
  place-items: center;
  padding: 5dvw 2dvw;
  border-radius: 1rem;
  gap: 0.5rem;
}
section#sec5 form img {
  width: 13rem;
  height: 13rem;
  border-radius: 50%;
  -o-object-fit: fill;
     object-fit: fill;
  border: 3px solid #000000;
}
section#sec5 form h3 {
  font-size: 1.5dvw;
  font-family: var(--Font1);
  color: #05d470;
}
section#sec5 form h2 {
  text-transform: uppercase;
  font-size: 2.5dvw;
  font-family: var(--Font1);
}
section#sec5 form h4 {
  font-size: 1.2dvw;
  font-weight: 300;
  margin-bottom: 1.5rem;
  text-align: center;
}
section#sec5 form label {
  font-size: 1dvw;
}
section#sec5 form input {
  width: 40%;
  height: 4dvh;
  border-radius: 5px;
  outline: none;
  text-align: center;
  margin-bottom: 1rem;
  background: #e0e0e0;
  color: #000000;
  font-size: 0.8dvw;
}
section#sec5 form textarea {
  background: #e0e0e0;
  width: 60%;
  text-align: center;
  outline: none;
  height: 10dvh;
  padding: 0.5dvw;
  margin-bottom: 1.5rem;
  color: #000000;
  font-size: 0.8dvw;
}
section#sec5 form button {
  padding: 1em 2em;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 3px;
  text-transform: uppercase;
  cursor: pointer;
  color: #115e37;
  transition: all 1s;
  background: #c2ffe1;
  font-size: 1rem;
  position: relative;
  overflow: hidden;
  outline: 2px solid #c2ffe1;
}
section#sec5 form button:hover {
  color: #ffffff;
  transform: scale(1.1);
  outline: 2px solid #70caa4;
  box-shadow: 4px 5px 17px -4px #26916d;
}
section#sec5 form button::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #2caf72;
  transform: skewX(45deg);
  z-index: -1;
  transition: width 1000ms;
}
section#sec5 form button:hover::before {
  width: 250%;
}

.box {
  transform: translateX(400%);
  transition: transform 0.6s ease;
}
.box:nth-of-type(even) {
  transform: translateX(-400%);
}
.box.show {
  transform: translateX(0);
}

@media (max-width: 1000px) {
  .navbar {
    height: -moz-max-content;
    height: max-content;
    padding: 2dvw 2dvw;
  }
  .navbar .contnav {
    font-size: 1.4rem;
    gap: 3dvw;
  }
  .navbar .contnav img {
    height: 2.5rem;
    width: 2.5rem;
    -o-object-fit: fill;
       object-fit: fill;
  }
  .navbar .contnav #navtit {
    font-size: 3.2dvw;
    text-align: center;
  }
  .navbar .contnav .lblnav {
    font-size: 2.4dvw;
  }
  .navbar .contnav .navlog {
    gap: 1.5dvw;
  }
  .navbar .contnav .navlog img {
    width: clamp(0.7rem, 8vw, 3rem);
    height: clamp(0.7rem, 8vw, 3rem);
  }
  section {
    height: 60vh;
    overflow: hidden;
  }
  section #carlogo {
    height: 8.5dvw;
    width: 8.5dvw;
    margin-bottom: 1.5dvh;
  }
  section#carouselsec {
    height: 100dvw;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  }
  section#carouselsec #carouselPres {
    top: 40dvw;
    width: 80%;
  }
  section#carouselsec #carouselPres label {
    font-size: 2.2dvw;
    font-weight: 450;
    letter-spacing: 1px;
  }
  section#carouselsec #carouselPres #carouseltitulo {
    letter-spacing: 0.05em;
    font-size: 5.5dvw;
    margin-bottom: 1.5dvh;
  }
  section#carouselsec #carouselPres #carsomos {
    font-size: 2.5dvw;
  }
  section#carouselsec #carouselImg .contvideo {
    height: 100dvw;
  }
  section#sec1 {
    padding: 6dvh 8dvw;
  }
  section#sec1 .box {
    display: flex;
    flex-direction: column-reverse;
    gap: 2rem;
  }
  section#sec1 .box .teaml {
    text-align: center;
  }
  section#sec1 .box .teaml h2 {
    font-size: 3dvw;
  }
  section#sec1 .box .teaml h1 {
    font-size: 4.5dvw;
  }
  section#sec1 .box .teaml label {
    font-size: 2.1dvw;
    letter-spacing: 1px;
    line-height: 1.5;
    margin-bottom: 2rem;
  }
  section#sec1 .box .teaml button {
    align-self: center;
  }
  section#sec1 .box .teamr {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  section#sec1 .box .teamr img {
    width: 70dvw;
    height: 50dvw;
    -o-object-fit: fill;
       object-fit: fill;
  }
  section#sec2 {
    flex-direction: column;
    height: -moz-fit-content;
    height: fit-content;
    place-items: center;
  }
  section#sec2 img {
    width: 100%;
    height: 20rem;
    -o-object-fit: fill;
       object-fit: fill;
  }
  section#sec2 .box {
    text-align: center;
    padding: 5dvw;
    gap: 1rem;
  }
  section#sec2 .box h1 {
    font-size: 4.2dvw;
  }
  section#sec2 .goal {
    width: 100%;
    gap: 0.3rem;
    padding: 2.5dvw;
  }
  section#sec2 .goal label {
    font-size: 2.7dvw;
  }
  section#sec2 .goal .goalh1 {
    letter-spacing: 1px;
    font-size: clamp(2rem, 2.7vw, 2.7rem);
    font-weight: 700;
    color: rgb(47, 255, 141);
    margin-left: 2rem;
    width: clamp(5rem, 7vw, 7rem);
  }
  section#sec3 .box {
    display: grid;
    grid-template-areas: "h2 h2" "h1 h1" "box1 box2" "box3 box4" "btn btn";
  }
  section#sec3 .box .sec3h1 {
    font-size: 2.7dvw;
    margin-bottom: 0.5rem;
  }
  section#sec3 .box .sec3h2 {
    font-size: 3.5dvw;
    margin-bottom: 2dvh;
  }
  section#sec3 .box button {
    height: 6.5dvw;
    width: -moz-fit-content;
    width: fit-content;
    padding: 2.5dvw;
    font-size: 2dvw;
    text-align: center;
  }
  section#sec3 .box a .card {
    width: 37dvw;
    height: 55dvw;
  }
  section#sec4 {
    padding: 6dvw 3dvw;
    height: -moz-max-content;
    height: max-content;
  }
  section#sec4 .box {
    display: grid;
    grid-template-areas: "h3" "h1" "box1" "box2" "box3" "box4";
  }
  section#sec4 .box h3 {
    font-size: 2.3dvw;
  }
  section#sec4 .box h1 {
    font-size: 4.2dvw;
    margin-bottom: 1rem;
  }
  section#sec4 .box .clip {
    margin: 0.5rem;
    background: black;
    border: wheat;
    height: 52dvw;
    width: 90dvw;
  }
  section#sec5 {
    display: grid;
    grid-template-columns: 0.1fr 0.8fr 0.1fr;
  }
  section#sec5 form img {
    width: 30dvw;
    height: 30dvw;
  }
  section#sec5 form h3 {
    font-size: 3dvw;
  }
  section#sec5 form h2 {
    font-size: 4dvw;
  }
  section#sec5 form h4 {
    font-size: 1.7dvw;
  }
  section#sec5 form label {
    font-size: 2dvw;
  }
  section#sec5 form input {
    width: 50%;
    height: 3dvh;
    margin-bottom: 0.5rem;
    font-size: 1.8dvw;
  }
  section#sec5 form textarea {
    width: 70%;
    height: 8dvh;
    margin-bottom: 1rem;
    font-size: 1.8dvw;
  }
  section#sec5 form button {
    padding: 0.5em 1em;
    letter-spacing: 2px;
    font-size: 0.7rem;
  }
}/*# sourceMappingURL=Main.css.map */