@import url('https://fonts.cdnfonts.com/css/neue-haas-grotesk-display-pro');

html{
    scroll-behavior: smooth;
}

body{
    font-family: "Bahnschrift", "Roboto Condensed";
    margin: 0;
    padding: 0;
    background: #011522;
    height: 300VH;
    align-items: center;
    justify-content: center;

    &::-webkit-scrollbar-track
    {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: #000000;
    }

    &::-webkit-scrollbar
    {
        width: 12px;
        background-color: #F5F5F5;
    }

    &::-webkit-scrollbar-thumb
    {
        border-radius: 1rem;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: #ffffff;
    }

        ::-webkit-scrollbar-track
        {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            background-color: #000000;
        }

        ::-webkit-scrollbar
        {
            width: 7px;
            background-color: #F5F5F5;
        }

        ::-webkit-scrollbar-thumb
        {
            border-radius: 1rem;
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
            background-color: #ffffff;
        }
}

section{
    height: 60vh;
    //border: 1px solid rgb(255, 255, 255);
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    overflow: hidden;

    #carlogo{
        background: url(Resources/LogoMinimalistaFON.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 7rem;
        width: 7rem;
        margin-bottom: 1rem;
        filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
        
    }

    &#carouselsec{
        height: 95vh;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
        overflow: hidden;
    
        #carouselPres{
            display: flex;
            flex-direction: column;
            color: white;
            position: absolute;
            text-align: center;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
            align-items: center;
            justify-content: center;

            label{
                font-size: 1.5rem;
                text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
            }

            #carouseltitulo{
                letter-spacing: 1px;
                font-size: 5rem;
                font-weight: 1000;
                transition: transform 0.3s ease-in-out;

                &:hover{
                    transform: scale(1.05);
                }
            }

            #carsomos{
                text-transform: uppercase;
                color: rgb(5, 212, 112);
                letter-spacing: 1px;
                font-size: 2rem;
                font-weight: 700;
                text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
            }
        }
        
        #carouselImg{
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 100%;
            transform: translateX(0);
            transition: transform 0.8s ease-in-out;

            img {
                object-fit: cover;
            }

            .contimg{
                height: 100%;
                width: 100%;
                position: relative;

                &::before{
                    content: '';
                    width: 100%;
                    height: 100%;
                    top: 0;
                    right: 0;
                    position: absolute;
                    background:linear-gradient(0deg, black,transparent);
                    z-index: 1;
                }
            }

            
        }
    }

    &#sec1{
        display: flex;
        height: 70vh;
        background: linear-gradient(90deg,#000643,#010522);
        //padding: 5vh;
        padding-left: 15%;
        padding-right: 15%;
        color: white;
        justify-content: center;
        align-items: center;

        .box{
            transform: translateX(400%);
            transition: transform 0.6s ease;
            display: flex;
            flex-direction: row;
            gap:4rem;

            .teaml{
                display: flex;
                flex-direction: column;
                text-align: start;

                h2{
                    font-size: 2rem;
                    color: rgb(176, 176, 176);
                    margin: 0;
                    font-weight: 600;
                }

                h1{
                    font-size: 3rem;
                    color: white;
                    margin-top: 0.5rem;
                    margin-bottom: 1rem;
                }

                label{
                    letter-spacing: 1px;
                    line-height: 1.5rem;
                    margin-bottom: 2rem;
                }

                button{
                    width: fit-content;
                    padding: 0.6em 1em;
                    border: 4px solid #247f06;
                    transition: ease-in-out 0.3s;
                    background-color: transparent;
                    color: rgb(0, 219, 48);
                    font-weight: bolder;
                    font-size: 16px;

                    &:hover{
                        border: rgb(0, 219, 48);
                        transform: scale(1.1) rotate(5deg);
                        background-color: rgb(0, 219, 48);
                        color: white;
                    }
                }
            }

            .teamr{
                img{
                    border-radius: 3rem;
                    width: 35rem;
                    height: 30rem;
                    object-fit: cover;
                    transition: transform 0.3s ease-in-out;

                    &:hover{
                        transform: scale(1.05) rotate(2deg);
                    }
                }
            }
        }

        .box:nth-of-type(even) {
            transform: translateX(-400%);
        }
        
        .box.show {
            transform: translateX(0);
        }
    }

    &#sec2{
        display: flex;
        flex-direction: row;
        background:white;
        height: 80vh;

        img{
            width: 65%;
            height: 100%;
            object-fit: cover;
        }

        .box{
            transform: translateX(400%);
            transition: transform 0.6s ease;
            display: flex;
            flex-direction: column;
            text-align: start;
            padding: 5rem;
            padding-left: 6rem;
            padding-right: 6rem;
            gap: 1rem;

                h1{
                    text-transform: uppercase;
                    font-size: 2.5rem;
                    color: rgb(0, 0, 0);
                    margin: 0;
                    font-weight: 650;
                    margin-bottom: 1rem;
                }

                label{
                    letter-spacing: 1px;
                    line-height: 1.5rem;
                    margin-bottom: 2rem;
                }
            }

            .box:nth-of-type(even) {
                transform: translateX(-400%);
            }
            
            .box.show {
                transform: translateX(0);
            }

            .goal{
                display: flex;
                flex-direction: row;
                width: 90%;
                height: 5rem;
                background: #010522;
                border-radius:1rem;
                color: #F5F5F5;
                font-size: 1rem;
                justify-content: start;
                align-items: center;
                text-align: center;
                gap: 1rem;

                label{
                    margin: 0;
                    font-weight: 600;
                    font-size: 1.3rem;

                }

                .goalh1{
                    letter-spacing: 1px;
                    font-size: 2.5rem;
                    font-weight: 700;
                    color: rgb(47, 255, 141);
                    margin-left: 2rem;
                    width: 7rem;
                }

                .goallbl{

                }
            }
    }

    &#sec3{
        background: linear-gradient(270deg,#000643,#010522);
        height: 80vh;
        padding: 10vh;

        .box{
            display: flex;
            flex-direction:column;
            align-items: center;
            transform: translateX(400%);
            transition: transform 0.6s ease;

            .sec3h1{
                text-transform: uppercase;
                font-size: 1.5rem;
                color: #5de195;
                margin: 0;
                font-weight: 700;
                margin-bottom: 0.5rem;
            }
    
            .sec3h2{
                text-transform: uppercase;
                font-size: 2.5rem;
                color: rgb(255, 255, 255);
                margin: 0;
                font-weight: 700;
                margin-bottom: 1.5rem;
            }
    
            .contjuegos{
                display: flex;
                flex-direction: row;
                margin-bottom: 2rem;
                margin-top: 9rem;
            }
    
            button{
    
            }
        }

        .box:nth-of-type(even) {
            transform: translateX(-400%);
        }
        
        .box.show {
            transform: translateX(0);
        }

        .card {
            width: calc(25rem/ 1.5);
            height: 25rem;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            padding: 0 36px;
            perspective: 2500px;
            margin: 0 50px;
        }
        
        .cover-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        
        .wrapper {
            transition: all 0.5s;
            position: absolute;
            width: 100%;
            z-index: -1;
        }
        
        .card:hover .wrapper {
            transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
            box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
            -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
        }
        
        .wrapper::before,
        .wrapper::after {
            content: "";
            opacity: 0;
            width: 100%;
            height: 80px;
            transition: all 0.5s;
            position: absolute;
            left: 0;
        }
        .wrapper::before {
            top: 0;
            height: 100%;
            background-image: linear-gradient(
            to top,
            transparent 46%,
            rgba(12, 13, 19, 0.5) 68%,
            rgba(12, 13, 19) 97%
            );
        }
        .wrapper::after {
            bottom: 0;
            opacity: 1;
            background-image: linear-gradient(
            to bottom,
            transparent 46%,
            rgba(12, 13, 19, 0.5) 68%,
            rgba(12, 13, 19) 97%
            );
        }
        
        .card:hover .wrapper::before,
        .wrapper::after {
            opacity: 1;
        }
        
        .card:hover .wrapper::after {
            height: 120px;
        }
        .title {
            width: 100%;
            transition: transform 0.5s;
        }
        .card:hover .title {
            transform: translate3d(0%, -50px, 100px);
        }
        
        .character {
            width: 100%;
            opacity: 0;
            transition: all 0.5s;
            position: absolute;
            z-index: -1;
        }
        
        .card:hover .character {
            opacity: 1;
            transform: translate3d(0%, -30%, 100px);
        }
    }
        
}


.navbar{
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    display: flex;
    flex-direction: row;
    position: fixed;
    color: #ffffff;
    width: 100%;
    height: fit-content;
    background: linear-gradient(180deg, rgb(0, 0, 0) 60%, transparent);
    z-index:2;

    .contnav{
        display: flex;
        flex-direction: row;
        font-size: 1.2rem;
        font-weight: 600;
        justify-content: center;
        align-items: center;
        gap: 2rem;

        .navlog{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }

        img{
            padding: 0.8rem;
            height: 3rem;
            width: 3rem;
            object-fit: fill;
        }

        #navtit{
            font-size: 1.7rem;
            font-weight: 700;
        }

        .lblnav{
            font-size: 1.2rem;
            font-weight: 500;
            letter-spacing: 1px;
            color: rgb(255, 255, 255);
            margin-left: 1rem;
            margin-right: 1rem;
            text-decoration: none;
            transition: transform 0.3s ease-in-out, font-weight 0.1s ease-in-out;

            &:hover{
                transform:scale(1.1);
                font-weight: 700;
            }
        }
    }
}